.card {
  height: 53mm;
  width: 73mm;
  border: 1mm solid #000;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
}

.title {
  margin-top: 9mm                                                                                                                                                                                                                            ;
  border-top: 2px dashed #000;
  padding-top: 2mm;
  display: flex;
  justify-content: space-between;
}

.vehicledesc {
  font-weight: bold;
  text-transform: uppercase;
}

.flavour {
  margin-right: 129px;
}

.hull {
  margin-top: 2mm;
  display: flex;
}

.hulltitle {
  padding: 3px 1px 0px 0px;
  /* writing-mode: vertical-lr; */
  font-weight: bold;
  transform:rotate(270deg);
}

.boxholder {
  margin-left: -12px;
}

.halfhull {
  display: flex;
}

.hullbox {
  border: 2px solid #5a5a5a;
  height: 3mm;
  width: 3mm;
  margin: 2px;
}

.emptybox {
  height: 16mm;
  width: 50mm;
  border: 2px solid #5a5a5a;
}

.gear {
  margin-top: 2mm;
  display: flex;
  justify-content: space-between;
}

.gearbox {
  font-size: 10px;
  height: 16mm;
  width: 16mm;
  border: 2px solid #5a5a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.big-num {
  font-size: 24px;
}

.infosection {
  margin-top: 2mm;
  display: flex;
  justify-content: space-between;
  padding-right: 4px;
}

.infos {
  font-weight: bold;
}

.cansline {
  border-bottom: 2px dashed #000;
  width: 12mm;
}
